<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}
  <title>404 error.hbs</title>
</head>

<body>
  {{>header}}

  {{errorcoment}}

  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <h1>404 error.hbs 404 error</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum saepe minima quasi ex debitis laudantium
    explicabo commodi sunt voluptate id?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum saepe minima quasi ex debitis laudantium
    explicabo commodi sunt voluptate id?</p>

  {{>footer}}
</body>

</html>