* {
  text-align: center;
  font-family: sans-serif;
}
body {
  margin-top: 10%;
}
#weathercon {
  background-color: rgb(10, 197, 10);
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
