.invalid{
  border-color: red;
 
}

i{
  position: absolute;
  right: 1%;
  top: 12%;
}

.check{
  visibility: hidden;
  }
.exclamation{
  visibility: hidden;
  border-color: red;
}

.successIcon{
  visibility: visible;
}
.errorIcon{
  visibility: visible;
}
.error{
  color: red;
  
  
}
.instruction{
  color: green;
}
